.div1 {
  float: left;
  background-color: blue;
  width: 200px;
  height: 100px;
}

.div2 {
  float: left;
  background-color: green;
  width: 200px;
  height: 100px;
}

.div3 {
  float: left;
  background-color: orange;
  width: 200px;
  height: 100px;
}

.div4 {
  float: left;
  background-color: yellow;
  width: 200px;
  height: 100px;
}

.div5 {
  float: left;
  background-color: red;
  width: 200px;
  height: 100px;
}