body
{
  padding: 0;
  margin: 0;
}

#header
{
  text-align: center;
  height: 100px;
}

#links
{
  /*position: absolute;
  top: 120px;
  left: 0px;
  width: 100px;*/
  float: left;
  background-color: Red;
  width: 100px;
}

#authorinfo
{
  /*position: absolute;
  top: 120px;
  right: 0px;
  width: 300px;*/
  float: left;
  background-color: Aqua;
  width: 300px;
}

#content
{
  /*margin-left: 105px;
  margin-right: 305px;*/
  float: left;
  background-color: Yellow;
  width: 600px;
}
